h1 {
    text-align: center;
    background-color: dodgerblue;
    color:white;
    font-size: 50px;
}

.container {
        padding: 10px;
        background-color: white;

}

.link-button {
    background-color: #008cff;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 8px;
    border-color: aliceblue;
    border: 2px;
    font-size: 30px;
  }

    
.link-button:hover {
    background-color: #008cff8b;
    transform: scale(1.1)
  }




html {
        background-color:lightslategray;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode';
}