h2 {
    text-align: center;
    background-color: dodgerblue;
    color:white;
    font-size: 50px;
    margin-top: 5%;
}

.container {
        padding: 10px;
        background-color: white;
        text-align: center;
        margin: auto;
        height: 150px;
        width: 150px;
        border-radius: 10px;

}

.container img {
  height: 125px;
  width: 125px;
}

.container:hover {
  transform: scale(1.1);
}

.link-button {
    background-color: #008cff;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 8px;
    border-color: aliceblue;
    border: 2px;
    font-size: 30px;
  }

    
.link-button:hover {
    transform: scale(1.1);
    background-color: #008cff8b;
  }




html {
    background-color:lightslategray;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode';
}

p {
  text-align: center;
}

.taskbar {
  background-color: cornflowerblue;
  width: 90%;
  height: 25px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 40px;
  position: absolute;
}

.taskbar a {
text-decoration: none;
font-family: Trebuchet MS;
font-size: 20px;
margin-top: 2.5px;
margin-bottom: 2.5px;
color: white;
vertical-align: middle;
}

.taskbar a:hover {
transform: scale(1.1);
}